html {
    height: 100%;
}

body {
    height: 100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/Ecran_Titre_d%27American_Horror_Story.png/1200px-Ecran_Titre_d%27American_Horror_Story.png");
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}

.theme {
    width: 500px;
}

.leftPane {
    color: lightpink;
}